.memberCardsSection {
  position: relative;
}

.memberCards {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.memberCard {
  width: 17%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;

  .profileImg {
    width: 65px;
    height: 65px;
    margin: 14px 0 7px 0;
    border: 0.7px solid rgba(23, 23, 23, 0.5);
    border-radius: 5px;
  }

  .nickname {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #1B1C1D;
  }

  .emailPosition{
    font-family: 'Noto Sans KR';
    font-weight: 350;
    font-size: 14px;
    line-height: 20px;
    color: #686868;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  hr {
    color: #E9E9E9;
    width: 80%;
    margin: 15px auto;
  }

  .detailButton {
    color: #1B1C1D;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 15px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 4px 7px
  }
}

@media screen and (max-width: 991px) {
  .memberCard {
    width: 30%;
    .profileImg {
      width: 55px;
      height: 55px;
    }
    .nickname {
      font-size: 14px;
    }
    .emailPosition{
      font-size: 12px;
    }
    hr {
      margin: 10px auto;
    }
    .detailButton {
      font-size: 14px;
      padding: 4px 7px
    }
  }
}

@media screen and (max-width: 425px) {
  .memberCard {
    width: 45%;
  }
}