.wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);

  .modal {
    width: 600px;
    height: 700px;
    background: #ffffff;
    border-radius: 20px;
    z-index: 999;
    padding: 34px 36.5px 28px 36.5px;
    position: relative;
  }
}
