.mobilePagination {
  position: absolute;
  top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;

  button {
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #568A35;
    font-weight: 700;
    &:hover {
      background: #FFFFFF;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    }
  }

  .prevButton {  
    position: absolute;
    left: -30px;
    img {
      transform: rotate(270deg);
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 45px;
    }
  }
  
  .nextButton {
    position: absolute;
    right: -30px;
    img {
      transform: rotate(90deg);
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 45px;
    }
  }
}
