.postsHeaderContainer {
  position: sticky;
  top: 70px;
  z-index: 5;
  padding: 0 15px;
  background-color: white;

  .postsFilterWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 0;
  }
}
