.postsHeaderContainer {
  position: sticky;
  top: 70px;
  z-index: 5;
  margin-bottom: 15px;
  padding: 0 15px;
  background-color: white;

  .postsFilterWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
  }
}
