.bestMentoCard_container{
    position: relative;
    margin-left:30px;
    width: 240px;
    height: 265px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding:24px;
    margin: 40px 24px;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.4s;
      }
    .head{
        margin-top: 32px;
        width:100%;
        .image{
            position: absolute;
            width: 85px;
            height: 85px;
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            top:0px;
            left: 50%;
            transform : translate(-50%, -50%);
            z-index: 100;
        }
        .title{
            font-weight: 500;
            font-size: 16px;
            line-height: 25px;
            color: #1B1C1D;
        }
        .center-wrapper{
            width:100%;;
            display: flex;
            align-items: center;
        }
        .flex-wrapper{
            display: flex;
            align-items: center;
            margin: 0 auto;
            .nickname{
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #4F4F4F;
            }
            .v-line{
                border-left : 1px solid #D8D8D8;
                height : 20px;
                margin: 0px 8px;
            }
            .times{
                font-weight: 350;
                font-size: 14px;
                line-height: 20px;
                color: #747474;
            }
        }
    }
    .h-line{
        width:100%;
        border-bottom: 1px solid #D8D8D8;
        margin: 17px 0px;
    }
    .body{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #747474;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .foot{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        column-gap: 16px;
        .icon-item{
            display: flex;
            align-items: center;
            column-gap: 5px;
            margin : 0 auto;
            width: fit-content;
            .icon{

            }
            .number{
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #848484;
            }
        }
    }
}