// layout
.study_detail_page_main {
  display: flex;
  align-items: stretch;
  width: 100%;
  margin: 100px 0;
  gap: 2.5%;

  .aside_left {
    flex: 1.5;
    text-align: right;
  }

  .center_section {
    flex: 7;
  }

  .aside_right {
    flex: 1.5;
  }
}

// detail
.header_title_wrap {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  font-family: Noto Sans KR;
  font-size: 35px;
  font-weight: 500;
  .title_left {
  }
  .title_right {
    display: flex;
    gap: 10px;
  }
}

.category_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  margin-left: 5%;
  margin-right: 5%;
  .category_left {
    display: flex;
    gap: 10px;
    .category_button {
      width: 100px;
      height: 40px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1.5px solid #aac49a;

      color: #568a35;
    }
  }

  .category_right {
    .status_button {
      width: 100px;
      height: 40px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1.5px solid #f09933;
      background-color: #f09933;
      color: #fff;
    }
  }

  .status_button {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #f09933;
    background-color: #f09933;
    color: #fff;
  }
}

.content_wrap {
  min-height: 680px;
  padding: 20px 5%;
}

.detail_line {
  border: 1px solid #eef3eb;
  width: 100%;
  margin: 20px auto;
}

.comment_wrap {
  .comment_list_wrap {
    margin-bottom: 30px;
  }

  .comment_input_wrap {
    .comment_input {
      border: 1px solid green;
      width: 100%;
      padding: 18px 44px;
    }
  }
}
