.onboardModal{
    text-align: center;
    h1{
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 15px;
        color: rgba(52, 52, 52, 1);
        span{
            font-size: 38px;
            font-weight: 900px;
            color: rgba(86, 138, 53, 1);
        }
    }
    h2{
        font-weight: 400;
        font-size: 18px;
        color: #4C4C4C;
    }
    .flex{
        display: flex;
        align-items:flex-end;
        column-gap: 16px;
    }
    .body{
        margin: 40px 0px 120px 0px;
        .imagePlaceholder{
            width: 135px;
            height: 135px;
            background: #EBEBEB;
            border-radius: 100%;
            margin: 0 auto;
            cursor: pointer;
        }
    }
    .body2{
        margin: 67px 0px;
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 45px;
        column-gap: 45px;
    }
    .grid{
        display: grid;
        row-gap: 20px;
        column-gap: 45px;
        grid-template-columns: repeat(2,1fr);
        text-align: center;
        .tag{
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #898989;
            font-size: 16px;
            border: 1px solid #898989;
            border-radius: 10px;
            &:hover{
                background-color: #F4F4F4;
                cursor: pointer;
            }
            &.selected{
                color: #fff;
                background-color: rgba(86, 138, 53, 1);
            }
        }
    }
    .page{
        font-size:16px;
        color: #737373;
        margin-top:15px;

    }
    .helperText{
        width: 100%;
        text-align: left;
        margin-top:10px;
        font-size:13px;
        span{
            color: transparent;
        }
        &.show{
            .pass{
                color: #2F855A;
            }
            .fail{
                color: #C53030;
            }
        }
       
    }    
}