.banner_wrapper{
    padding: 30px 0px;
    position: relative;
    color: #1f221f;
    background-color: #E3F1DA;
    width:100%;
    height:296px;
    top:-10px;
    text-align: center;
    @font-face {
      font-family: 'yg-jalnan';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
        format('woff');
      font-weight: normal;
      font-style: normal;
    }
    font-family: 'yg-jalnan';
    .circle{
        height: 500px;
        border-radius: 100%;
        overflow: hidden;
        background-color: #E3F1DA;  
        display: flex;
        justify-content: flex-end;
    }
    .title{
        width:100%;
        position: absolute;
        top: 80px;
        color: #454545;
        line-height: 2;
        font-size:40px;
        font-weight: 500;
        .highlight{
          font-size: 50px;
          font-weight: 700;
        }
    }
    .img{
      height: 400px;
      margin: 110px auto 0px auto;

      
    }
}

.banner_footer{
  width:100%;
  height:296px;
}