.categoryButton{
    &:hover {
        transform: scale(1.1);
        transition: transform 0.4s;
      }
    &.big{
        p{
            font-size:20px;
            color: #878787;
            margin-top:22px;
            width:100%;
            text-align: center;
        }
    }

    &.small{
        p{

        }
    }
}