.sidebar {
  width: 320px;
  min-height: 100vh;
  border-right: 1px solid #B3B3B3;
  padding-top: 24px;

  .mainMenu {
    background-color: #F5F5F5;
    height: 42px;
    width: 100%;
    position: relative;
    .mainMenuIcon {
      position: absolute;
      left: 54.83px;
      top: 9px
    }
    .mainMenuTitle {
      position: absolute;
      left: 85px;
      top: 9px;
      color: #222222;
      font-family: 'Noto Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
    }
  }

  .subMenu {
    background-color: #FFFFFF;
    color: #4F4F4F;
    height: 33px;
    width: 100%;
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: #E0E0E0;
    }
    .subMenuTitle {
      position: absolute;
      left: 90px;
      top: 6px;
      font-family: 'Noto Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
    }
  }
}