.alert_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:-1000;
    .body{
        position: relative;
        width: fit-content;
        height: fit-content;
        padding: 50px 80px;
        background-color: #fff;
        transform: translateY(20%);
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.12);
        border-radius: 20px;
        color: #568A35;
        font-weight: bold;
    }
}