.sidebar {
  min-width: 15%;
  border-right: 1px solid #B3B3B3;
  padding-top: 24px;

  .mainMenu {
    background-color: #F5F5F5;
    height: 42px;
    width: 100%;
    display: flex;
    align-items: center;
    .mainMenuIcon {
      margin-left: 17%;
    }
    .mainMenuTitle {
      margin-left: 5%;
      line-height: 50px;
      color: #222222;
      font-family: 'Noto Sans';
      font-size: 17px;
    }
  }

  .subMenu {
    background-color: #FFFFFF;
    color: #4F4F4F;
    height: 33px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    &:hover {
      background-color: #E0E0E0;
    }
    .subMenuShape {
      background-color: #A0AEC0;
      border-radius: 50%;
      margin-left: 24%;
      width: 8px;
      height: 8px;
    }
    .subMenuTitle {
      margin-left: 4%;
      font-family: 'Noto Sans';
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 991px) {
  .sidebar {
    min-width: 20%;
    .mainMenu {
      .mainMenuIcon {
        margin-left: 9%;
      }
      .mainMenuTitle {
        font-size: 14px;
      }
    }
    .subMenu {
      .subMenuShape {
        margin-left: 15%;
      }
      .subMenuTitle {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width:425px){
  .sidebar {
    min-width: 100%;
    padding-top: 0;
    .mainMenu {
      cursor: pointer;
      .mainMenuIcon {
        margin-left: 5%;
      }
    }
    .subMenu {
      .subMenuShape {
        margin-left: 10%;
      }
    }
    .renderSubMenuIcon {
      position: absolute;
      right: 10px;
      transform: rotate(180deg);
      width: 30px;
      color: #333333;
    }
  }
}