.postsSectionContainer {
  padding: 0px 20px;
}

.postsCategoryTitle {
  text-align: left !important;
  margin-top: 0px !important;
  margin-bottom: 70px;
  padding-left: 125px;
  font-size: 24px;
  font-weight: 500;
}

.postsSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
  gap: 20px;
  text-align: center;
}

.postsTriggerWrap {
  padding: 10vh 0;
  text-align: center;
}
