.postsSectionContainer {
  padding: 0 8%;

  .postsSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
    gap: 20px;
  }

  .postsTriggerWrap {
    padding: 10vh 0;
  }
}
