.category_label {
  width: 100px;
  height: 40px;
  border: 1px solid #7ba364;
  background-color: #7ba364;
  color: white;
  font-weight: 400;
  font-size: 18px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
