.categories_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 55px auto;
    column-gap: 60px;
    row-gap: 20px;
}
.imgButton{
    width: 85px;
    height: 85px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        cursor: pointer;
    }

    &.selected{
        background : #568A35;
    }
}

.textButton{
    padding:9px 17px;
    color: #878787;
    font-size:20px;
    font-weight: 300;

    &:hover{
        cursor: pointer;
    }

    &.selected{
        border-radius: 5px;
        color: #fff;
        //font-weight:bold;
        background : #568A35;
        font-weight: 500;
    }
}

