.NotMatchContainer {
  width: 100vw;
  height: 50vh;

  padding: 25% 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;

  .Title {
    font-size: 20px;
  }
}
