.default {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  height: 50px;
  padding: 13px 20px;
  border-radius: 10px;
  background-color: #568a35;
  color: #fff;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 700;
}

button {
  transition: 0.1s;
  &:disabled {
    background-color: #ebebeb !important;
  }
  &:hover:enabled {
    opacity: 0.8;
    cursor: pointer;
  }
}
