.default {
  width: 100%;
  height: 50px;
  padding: 13px 20px;
  border: none;
  border-radius: 5px;
  background-color: #568a35;
  color: #fff;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 700;
}

button {
  transition: 0.1s;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
