.default_input_wrap {
  border-radius: 5px;
  border: 2px solid #c8c5cb;

  &:hover {
    border: 2px solid #568a35;
  }
}

.default_input {
  border-radius: 10px;
  outline: none;
  border: 2px solid #c8c5cb;
  padding: 15px 30px;

  &:focus {
    border: 2px solid #568a35;
  }
}
input {
  background-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

//
