.userIdentificationWrapper {
  margin-left: 45px;
  min-width: 13%; 
  .titleWrapper {
    display: flex;
    margin-top: 60px;
  }
  .toteeBadgeIcon {
    margin-left: 5px;
  }
  .userNickName {
    color: #333333;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
  }
  .userIdentification {
    color: #767676;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 2px;
  }
  .userProfileEditButton{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #898989;
    border-radius: 20px;
    margin-top: 19px;
    line-height: 24px;
    padding: 3px 20px;
  }
}