.userIdentificationWrapper {
  margin-left: 45px;

  .titleWrapper {
    display: flex;
    margin-top: 60px;
    .nickNameInput {
      border: none;
      outline: none;
      border-bottom: 1px solid #E4E4E4;
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 10px;
      font-family: 'Noto Sans KR';
      width: 110px;
      &::placeholder{
        color: #929292;
      }
    }
    .nickName {
      color: #333333;
      font-family: 'Noto Sans';
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
    }
    .toteeBadgeIcon {
      margin-left: 5px;
    }
  }

  .positionDropdown {
    cursor: pointer;
    border: none;
  }

  .identification {
    color: #767676;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 20px;
    margin-top: 2px;
  }

  .profileEditButton {
    button {
      font-family: 'Noto Sans KR';
      font-weight: 500;
      font-size: 14px;
      border-radius: 20px;
      width: 100px;
      height: 35px;
      margin-top: 19px;
    }
    .editMode {
      display: flex;
      .submitUserButton {
        color: #FFFFFF;
        background-color: #9C9C9C;
        border: none;
        margin-right: 10px;
      }
      .cancelButton {
        color: #FFFFFF;
        background-color: #9C9C9C;
        border: none;
      }
    }
    .editProfileButton {
      color: #898989;
      background-color: #FFFFFF;
      border: 1px solid #898989;
    }
  }
}

@media screen and (max-width: 991px) {
  .userIdentificationWrapper {
    margin-left: 25px;
    .titleWrapper {
      margin-top: 20px;
      .nickNameInput {
        font-size: 14px;
        width: 90px;
      }
      .nickName {
        font-size: 18px;
      }
    }
    .identification {
      font-size: 12px;
    }
    .profileEditButton {
      button {
        font-size: 12px;
        width: 80px;
        height: 25px;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .userIdentificationWrapper {
    margin-left: 35px;
    .titleWrapper {
      margin-top: 15px;
    }
  }
}