.mentorModal {
  padding: 20px 0px;
  width: 600px;
  max-height: 700px;
}
.headerBox {
  height: 45px;
  background: #fff;
  display: flex;
}
.headerTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  color: #333333;
  margin-left: 60px;
  margin-top: 6px;
}
.closeBtn {
  cursor: pointer;
  margin-top: -3px;
  margin-left: 360px;
}
.bottomBox {
  height: 72px;
  background: #fff;
  box-shadow: 0px -7px 10px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 20px 20px;
  display: flex;
}
.contentWrapper {
  margin: 20px 70px 40px 70px;
}
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #568a35;
}

.profile {
  display: flex;
  text-align: center;
  margin: 10px 0 20px 0;
  gap: 10px;
  height: 30px;
}
.img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: #4c4c4c 1px solid;
}
.name {
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.detail {
  margin-bottom: 10px;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #858a8d;
}

.position {
  margin-right: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #858a8d;
}
.career {
  margin-right: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #858a8d;
}

.price {
  margin: 25px 0 30px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.contentLine {
  border: 1px solid #d8d8d8;
}

.content {
  height: 240px;
  margin: 30px 0 0 0;
  font-size: 15px;
  line-height: 165%;
  font-weight: 350;
}

.btn {
  margin: auto;
  text-align: center;
  width: 150px;
  height: 40px;
  background: #568a35;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
}
