.userProfile {
  background-color: #FFFFFF;
  margin-top: 30px;
  min-height: 250px;
  border-radius: 10px;
  display: flex;

  .userProfileImageWrapper {
    margin: 52px 0 66px 85px;
    .userProfileImage {
      width: 131px;
      height: 131px;
      border-radius: 50%;
    }    
  }

  .userIdentificationWrapper {
    margin-left: 45px;
    min-width: 13%; 
    .titleWrapper {
      display: flex;
      margin-top: 60px;
    }
    .toteeBadgeIcon {
      margin-left: 5px;
    }
    .userNickName {
      color: #333333;
      font-family: 'Noto Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
    }
    .userIdentification {
      color: #767676;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      margin-top: 2px;
    }
    .userProfileEditButton{
      color: #898989;
      background-color: white;
      font-family: 'Noto Sans KR';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      border: 1px solid #898989;
      border-radius: 20px;
      margin-top: 19px;
      line-height: 24px;
      padding: 3px 20px;
    }
  }

  .userActivityWrapper {
    margin: 30px 0 30px 80px;
    padding: 20px 80px 20px 50px; 
    border-left: 1px solid #D1D1D1;
    min-height: 175px;
    .introduction {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      margin-bottom: 32px;
      .introductionTitle {
        color: #333333;
        font-family: 'Roboto';
      }
      .introductionContent {
        color: #767676;
        font-family: 'Roboto';
        margin-top: 7px;
      }
    }
    .progress {
      display: flex;
      justify-content: space-between;
      font-style: normal;
      font-weight: 400;
      margin-bottom: 6px;
      width: 300px;
      .progressTitle {
        color: #333333;
        font-family: 'Roboto';
        font-size: 14px;
      }
      .progressCount {
        color: #767676;
        font-family: 'Roboto';
        font-size: 16px;
      }
    }
  }
}