.box_container{
  position: relative;
  margin-top: 15px;
}


.recent_wrapper{
  border: 1.5px solid #BFBFBF;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.recent_value {
  width: 100%;
  margin-left: 15px;
}

.value_placeholder {
  color: #BFBFBF;
}

.recent_line{
  //height: 100%;
  margin-right: 15px;
}

.recent_icon{
  //padding : 10px;
  margin-right: 10px;
}

.recent_list{
  position: absolute;
  width: inherit;
  width: 100%;
  background-color: white;
  border: 1px solid #BFBFBF;
  z-index: 10;
  color: #BFBFBF;
}
.recent_list_item{
  width: 100%;
  list-style: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid #BFBFBF;
  background-color: white;
  color: #BFBFBF;
  &:hover{
    cursor: pointer;
    box-shadow: inset 0 1000px rgba(0, 0, 0, 0.03) !important;
  }
}