.adminPage {
  display: flex;
  background-color: #f9f9f9;
  margin-top: 70px;

  .contentSection {
    width: 100%;
    padding: 0 50px;
  }
}

.tableContainer {
  flex-basis: 1250px;
  height: 500px;
  margin-top: 40px;
  padding: 30px 40px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  background: #ffffff;
}

.pageTitle {
  font-size: 20px;
  margin-bottom: 30px;
}
