.profile_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header_profile {
  width: 35px;
  height: 35px;
  border: 1px solid #EFEFEF;
  border-radius: 50%;
  margin-left: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.toggle_button{
  width: 20px;
  height: 20px;
  border: 1px solid #EFEFEF;
  border-radius: 50%;
  background-color: #EFEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.toggle_button > img {
  width: 10px;
}

.profile_content{
  position : absolute;
  width: 200px;
  top:40px;
  right: 0;
  border: 1px solid white;
  background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
border-radius: 0px 0px 5px 5px;
padding: 15px;
}

.profile_line{
  width: 100%;
  border: 1px solid #C9C9C9;
}

.profile_nickname{
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  margin: 10px 0px;
}

.profile_detail{
  margin: 5px 0px;
  font-weight: 200;
font-size: 10px;
line-height: 20px;
}

.profile_button{
  margin: 10px 0px;
}