.banner_wrapper{
    position: relative;
    color: #1f221f;
    width:100%;
    top:-30px;
    @font-face {
      font-family: 'yg-jalnan';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
        format('woff');
      font-weight: normal;
      font-style: normal;
    }
    font-family: 'yg-jalnan';
    .banner_description{
      position: absolute;
      left: 150px;
      bottom: 150px;
    }
    .circle{
        overflow: hidden;
        background-color: #E3F1DA;  
        display: flex;
        justify-content: flex-end;
    }
    .title{
        width:100%;
        color: #454545;
        line-height: 1.5;
        font-size: 40px;
        font-weight: 500;
        .highlight{
          font-size: 50px;
          font-weight: 700;
          color: #568A35;
        }
    }
    .subtitle{
      
      margin-top:16px;
      color: #454545;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-weight: 400;
      font-size: 22px;
      line-height: 1.5;

    }
    .img{
      width:100%;
      height:560px;
      object-fit:cover
    }
}
