.css_banner_wrap {
  .swiper-pagination {
    bottom: 43px;
    text-align: left;
    padding-left: 18%;
  }
  .swiper-pagination-bullet {
    width: 45px;
    height: 7px;
    border-radius: 0px;
    margin: 0;
    margin-right: 14px;
  }
  .swiper-pagination-bullet-active {
    width: 45px;
    height: 7px;
    border-radius: 0px;
    background-color: #4c9020;
  }
}
// .swiper-pagination {
// }
