.list_title {
  font-weight: 700;
  font-size: 34px;
  margin: 40px;
}

.list_wrapper {
  margin: 0 auto;
  display: flex;
  padding: 0 50px;
  justify-content: center;
}

.list_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.list_button {
  height: 30px;
  margin-right: 40px;
  cursor: pointer;
}
.list_arrow {
  width: 30px;
  height: 30px;
  border: 1px solid #f3f3f3;
  background-color: #f3f3f3;
  z-index: 2;
  background-size: 8px 13px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}
.active {
  margin: 10px;
  color: black;
  cursor: pointer;
}

.not_active {
  margin: 10px;
  color: #848484;
  cursor: pointer;
}

.page_wrapper {
  width: 300px;
  // border: 1px solid red;
  margin: 60px auto;
  display: flex;
  justify-content: center;
}

.page_number {
  display: flex;
  width: 150px;
  justify-content: center;
}

.delete_modal {
  position: absolute;
  right: 100px;
  padding: 13px 20px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #bfbfbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 15px;
  cursor: pointer;
}

.delete_icon {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0px;
  cursor: pointer;
}

.list_none {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');
$FONT: 'Noto Sans KR', sans-serif;

.postCard {
  overflow: hidden;
  width: 275px;
  height: 350px;
  transition: 0.3s;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 0 30px;
  &:hover {
    transform: scale(1.1);
    transition: transform 0.4s;
  }
}

.postWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.postImgWrapper {
  height: 50px;
  background-color: #919191;
}

.postImgBox {
  position: relative;
  top: 45%;
  left: 10%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
  background-color: #fff;
  //border: 1px solid rgba(0, 0, 0, 0.5);
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.postContentBox {
  padding-top: 45px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.postStatusWrapper {
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.postStatus {
  width: 60px;
  height: 25px;
  margin-right: 25px;
  margin-top: -11px;
  padding: 5px 12px;
  border-radius: 20px;
  background-color: #919191;
  //background-color: &{({ isDone }) => (isDone ? '#878787' : '#0ac858')};
  color: #fff;
  font-family: $FONT;
  font-weight: bold;
  font-size: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.postStatusNo {
  width: 65px;
  height: 25px;
  margin-right: 25px;
  margin-top: -11px;
  padding: 5px 8.5px;
  border-radius: 20px;
  background-color: #878787;
  color: #fff;
  font-family: $FONT;
  font-weight: bold;
  font-size: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.postTitle {
  padding: 0 35px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: $FONT;
  font-weight: bold;
}

.postContent {
  padding: 0 35px;
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 180%;
  font-family: $FONT;
  font-weight: normal;
  font-size: 15px;
  color: #3e3e3e;
}

.postInfoBox {
  padding: 0 35px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //margin-top: 10px;
  padding-top: 9px;
  margin-bottom: 10px;
}

.postInfo {
  font-family: $FONT;
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-left: 7px;
  gap: 3px;
  color: #848484;
}

.postInfoName {
  font-family: $FONT;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #393939;
  font-weight: 700;
}

.postIconBox {
  display: flex;
  justify-content: flex-end;
  > img {
    margin-top: 1px;
  }
}
