.search_wrapper{
    display: block;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

.input_wrapper{
    width: 800px;
    position: relative;
}

.preview_wrapper{
    position: absolute;
    top: 50px;
    left:0px;
    height: fit-content;
    overflow: hidden;
    width: 800px;
    background-color: #fff;
    border: 2px solid #568A35;
    border-top:none;
    box-shadow: 0px 4px 5px r gba(0, 0, 0, 0.15);
    border-radius: 0px 0px 20px 20px;
    .preview_list{
        padding-top: 5px;
        li{
            height: 45px;
            padding-left: 100px;
            line-height: 45px;
            font-size:  16px;
            font-weight:500;
            color: rgba(135, 135, 135, 1);

            &:hover{
                cursor: pointer;
                background: #EDEDED;
                background-blend-mode: multiply;
            }
        }
    }
}

.searchResult{
    position: absolute;
    top: 70px;
    width:100%;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight:400;
    margin-top: 35px;
    span{
        font-weight: 700;
    }
}