.title_wrapper {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.05em;
  color: #6a6a6a;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .title_main {
    font-weight: 700;
    font-size: 35px;
    line-height: 65px;
    letter-spacing: -0.05em;
    color: #333333;
  }
  .title_sub {
    width: 100%;
    text-align: left;
  }
  .title_description {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    white-space: pre-line;
    font-size: 14px;
  }

  .total_button_wrapper {
    display: flex;
    align-items: center;
    line-height: 65px;
    column-gap: 5px;
    .button_desc {
      font-size: 90%;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
