@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Noto+Sans+KR:wght@500&display=swap');
$DM : 'DM Sans', sans-serif;

.footer{
  background-color: #575757;
  color: #fff;
  padding-top: 15px;
  font-family: $DM;
  justify-content: center;
  align-content: space-between;
  // position: absolute;
  bottom: 0;
  width: 100%;
}

.footerWrap{
 padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: space-between;
  gap: 20px;
}

.footerAbout{
  display: inline-block;
  margin-right: 90px;
  p{
    font-size: 12px;
    margin: 7px 0;
  }
}

.footerIconWrap{
  display: flex;
  margin: 23px auto;
  gap: 15px;
}

.footerName{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 35px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
  cursor: pointer;
  h2 {
    margin-bottom: 20px;
  }
  p {
    text-decoration: none;
    margin-bottom: 12px;
    font-size: 12px;
  }
}

.footerLine{
  border-top: 1px solid #D9DBE9;
}

.lineWrap{
  gap: 600px;
  display: flex;
  justify-content: center;
  align-content: space-between;
  background-color: #575757;
  color: #fff;
  padding: 15px 0;
  p{
    font-family: $DM;
    font-size: 13px;
    margin: 3px 0;
  }
}

.lineDownL{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 160px;
}

.lineDownR{
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 280px;
}




