.title_wrapper {
  margin: 97px 186px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.05em;
  color: #6a6a6a;
}

.title_main {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: -0.05em;
  color: #333333;
}

.next_button {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 100;
  line-height: 30px;
}

.prev_button {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 101;
  line-height: 30px;
}

.recommend_content {
  width: 100%;
  height: 500px;
  margin: auto auto;
  margin-top: 100px;
  position: relative;
}

.card_container {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 350px;
  transition: 0.3s;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card_image_wrapper {
  height: 50px;
  background-color: #d4d4d4;
  margin: none;
}

.card_content {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-left: 35px;
  font-size: 15px;
  margin-top: 25px;
}

.card_title {
  font-weight: 700;
  font-size: 18px;
  margin-left: 35px;
  margin-top: 25px;
}

.ArrowWrapper {
  position: absolute;
  right: 30px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 10px 20px;
  background-position: center;
  background-color: white;
  border: 1px solid #568a35;
  border-radius: 50%;
}

// .slick-slide div:not(.card_image_wrapper, .card_category_content) {
//   cursor: pointer;
//   margin-left: 30px;
//   // width: 80%;
//   // margin: 0 auto;
// }

.card_category {
  position: absolute;
  // padding-right: 15px;
  display: flex;
  bottom: 20px;
  margin-left: 50px;
  justify-content: flex-end;
  align-items: flex-end;
}

.card_category_content {
  height: 35px;
  border: 1px solid #676767;
  border-radius: 5px;
  background-color: #676767;
  margin-right: 5px;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .content_wrapper {
//   display: flex;
//   column-gap: 30px;
// }


.mento_card_container{
  // margin:0 !important;
  margin-left:30px;
  width: 240px;
  height: 265px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding:18px;

  .mento_card_header{
    .mento_card_title{
      font-weight: 400;
      font-size: 16px;
      color: #1B1C1D;
      margin-bottom: 13px;
    }
    .mento_card_description_wrapper{
      display: grid;
      row-gap:8px;
    }
    .mento_card_description{
      display: flex;
      column-gap: 20px;
      font-weight: 400;
      font-size: 14px;
      color: #747474;
    }
  }
  .mento_card_line{
    margin: 17px 0px;
    color: #747474;
  }
  .mento_card_body{

  }

  .mento_card_footer{
    .mento_card_profile_image{

    }
    .mento_card_nickname{

    }
    .mento_card_time{

    }
  }
}