.button {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border-radius: 20px;
  width: 100px;
  height: 35px;
  margin-top: 19px;
}

.editMode {
  display: flex;
}

.submitUserButton {
  color: #FFFFFF;
  background-color: #9C9C9C;
  border: none;
  margin-left: 0;
}

.cancelButton {
  color: #FFFFFF;
  background-color: #9C9C9C;
  border: none;
}

.editProfileButton {
  color: #898989;
  background-color: #FFFFFF;
  border: 1px solid #898989;
  margin-left: 0;
}
