.post_card_container {
  overflow: hidden;
  width: 270px;
  height: 310px;
  padding: 20px;
  transition: 0.3s;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    transition: transform 0.4s;
  }

  .post_card_header {
    min-height: 40px;
    height: 15%;

    .post_card_header_wrap {
      display: flex;
      overflow: hidden;
      justify-content: space-between;
      align-items: center;

      .post_card_header_left {
        display: flex;
        height: 100%;
        align-items: center;
        gap: 8px;
        font-weight: 700;
        font-size: 13px;
      }
      .post_card_img_wrap {
        background: #ffffff;
        border: 1.5px solid rgba(0, 0, 0, 0.5);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }

  .post_card_center {
    height: 68%;
    padding: 20px 7px;
    overflow: hidden;
    .post_card_title {
      width: 100%;
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 7px;
      & * {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .post_card_content {
      height: 60%;
      width: 100%;
      overflow: hidden;
      & * {
        width: 100%;
        height: 60%;
        word-break: break-word;
        font-size: 0.875rem;
        line-height: 1.4;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .post_card_skills_wrap {
      height: 40%;
      .post_card_skills {
        display: flex;
        gap: 10px;
        justify-content: center;

        .post_card_skill {
          background: #ffffff;
          border-radius: 50%;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
        }

        .post_card_skill_over_wrap {
          position: relative;
          width: 20px;
          height: 20px;
          .post_card_skill_over {
            position: absolute;
            top: 0;
            left: -100%;
            background: #ffffff;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
            border-radius: 50%;
          }
        }
        .post_card_skills_ellipsis {
          & img {
            height: 20px;
            width: 14px;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .post_card_footer {
    height: 17%;
    padding: 0 10%;
    overflow: hidden;

    .post_card_footer_items {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      gap: 15px;

      .post_card_footer_item {
        display: flex;
        align-items: center;
        gap: 6px;
        color: #848484;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}

.status_badge {
  width: 60px;
  height: 25px;
  text-align: center;
  line-height: 22px;
  color: #fff;
  font-weight: 700;
  font-size: 13px;

  background: #6ccb6b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.status_badge_no {
  background-color: #878787;
  color: #fff;
}
.post_info_line {
  width: 200px;
  border-top: 1px solid #e9e9e9;
  margin: 0 auto;
}

@media screen and (max-width:991px){
  .post_card_container {
    margin-right: 5px;
    .post_card_center {
      .post_card_title {
        font-size: 14px;
      }
      .post_card_content {
        & * {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width:425px){
  .post_card_container {
    .post_card_footer {
      .post_card_footer_items {
        gap: 5px;
      }
    }
  }
}