@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');
$FONT : 'Noto Sans KR', sans-serif;

.postCard{
  overflow: hidden;
  //width: 100%;
  width: 270px;
  height: 310px;
  transition: 0.3s;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 30px 24px;
  &:hover {
    transform: scale(1.1);
    transition: transform 0.4s;
  }
}

.postWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.postImgWrapper{
  height: 50px;
  //background-color: #568a35;
}

.postImgBox{
  position: relative;
  display: flex;
  top: 45%;
  left: 10%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
  background-color: #fff;
  //border: 1px solid rgba(0, 0, 0, 0.5);
}

.img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.postContentBox{
  padding-top: 45px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.postStatusWrapper{
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.postStatus{
  width: 60px;
  height: 25px;
  margin-right: 25px;
  margin-top: -11px;
  padding: 5px 12px;
  border-radius: 20px;
  background-color: #6CCB6B;
  //background-color: &{({ isDone }) => (isDone ? '#878787' : '#0ac858')};
  color: #fff;
  font-family: $FONT;
  font-weight: bold;
  font-size: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.postStatusNo {
  width: 65px;
  height: 25px;
  margin-right: 25px;
  margin-top: -11px;
  padding: 5px 8.5px;
  border-radius: 20px;
  background-color: #878787;
  color: #fff;
  font-family: $FONT;
  font-weight: bold;
  font-size: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

  .postTitle{
  padding: 0 35px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: $FONT;
  font-weight: normal;
}

.postContent{
  padding: 0 35px;
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 150%;
  font-family: $FONT;
  font-weight: normal;
  font-size: 15px;
  color: #3E3E3E;
}

.postInfoBox{
  width: 170px;
  height: 40px;
  margin-bottom: 10px;
}

.postInfoLine{
  width: 200px;
  border-top: 1px solid #e9e9e9;
  margin: 0 0 10px 35px;
}

.postInfo{
  font-family: $FONT;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  margin-left: 20px;
  gap: 4px;
  color: #848484;
}

.postInfoName{
  font-family: $FONT;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #393939;
  font-weight: 700;
  margin-left: 12px;
}

.postIconBox{
  display: flex;
  //justify-content: flex-end;
  margin-left: 44px;
  >img{
    margin-top: 1px;
  }
}
