.default_line {
  width: 100%;
  border: 2px solid black;
}

.flexItem {
  border: 1px solid #e4e4e4;
}
.column {
  height: 100%;
  border: 1px solid #e4e4e4;
}

.row {
  width: 100%;
  border: 1px solid #e4e4e4;
}
