.toggleWrapper{
    position: relative;
    .toggleContainer{
        position: absolute;
        top: 0px;
        right: 0px;
        width: fit-content;
        height: fit-content;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        section{
            height:128px;
            padding: 20px 34px;
            font-size: 25px;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            div{
                display: grid;
                row-gap: 5px;
            }
        
            p{
                font-size: 16px;
                font-weight: 400;
                color: #767676;
            }
        }
        ul{
            display: list-item;
            li{
                width:322px;
                margin:0 !important;
                padding:20px 34px;
                text-align: left;
                font-size: 20px;
                border-top: 1px solid #E6E6E6;

                &:hover{
                    cursor: pointer;
                    box-shadow: inset 0 1000px rgba(0, 0, 0, 0.03) !important;
                }
            }
        }
    }
}
.flex{
    display: flex;
    align-items: center;
}
