.title {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  color: #484848;
  margin-bottom: 32px;
}

.horizontal  {
  border-bottom: 1px solid #D1D1D1;
  margin: 50px 0;
}