.userActivityWrapper {
  margin: 30px 0 30px 80px;
  padding: 20px 50px 20px 50px; 
  border-left: 1px solid #D1D1D1;
  min-height: 175px;
  width: 50%;

  .introduction {
    font-size: 16px;
    margin-bottom: 32px;
    .introductionTitle {
      color: #333333;
      font-family: 'Roboto';
    }
    .introductionTextarea {
      color: #767676;
      font-family: 'Roboto';
      margin-top: 10px;
      padding: 10px;
      width: 100%;
      border: 1.5px solid #E4E4E4;
      border-radius: 5px;
      background: #F9F9F9;
      outline: none;
      height: 100px;
    }
    .introductionLength {
      color: #929292;
      font-family: 'Noto Sans KR';
      width: 99%;
      text-align: end;
      margin-top: 6px;
    }
    .introductionText {
      width: 100%;
      color: #767676;
      font-family: 'Roboto';
      margin-top: 7px;
      word-wrap: break-word;
    }
  }
  
  .progress {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    width: 250px;
    .progressTitle {
      color: #333333;
      font-family: 'Roboto';
      font-size: 14px;
    }
    .progressCount {
      color: #767676;
      font-family: 'Roboto';
      font-size: 16px;
    }
  }
}

@media screen and (max-width:991px){
  .userActivityWrapper {
    margin: 20px 0 20px 30px;
    padding: 5px 30px; 
    min-height: 120px;
    width: 60%;
    .introduction {
      font-size: 14px;
      .introductionTextarea {
        height: 80px;
        font-size: 12px;
        &::placeholder {
          font-size: 12px;
        }
      }
      .introductionLength {
        font-size: 12px;
      }
      .introductionText {
        font-size: 12px;
        width: 90%;
      }
    }
    .progress {
      width: 200px;
      .progressTitle {
        font-size: 12px;
      }
      .progressCount {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width:425px){
  .userActivityWrapper {
    border: none;
    border-top: 1px solid #D1D1D1;
    width: 90%;
    margin: 20px auto;
    .introduction {
      margin-top: 20px;
      font-size: 14px;
      .introductionText {
        width: 100%;
      }
    }
  }
}