
.mento_card_container{
    // margin:0 !important;
    width: 240px;
    height: 265px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 24px;
    margin: 30px 24px;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: transform 0.4s;
    }
    .mento_card_header{
      .mento_card_title{
        font-weight: 400;
        font-size: 16px;
        color: #1B1C1D;
        margin-bottom: 13px;
      }
      .mento_card_description_wrapper{
        display: grid;
        row-gap:8px;
      }
      .mento_card_description{
        display: flex;
        column-gap: 20px;
        font-weight: 400;
        font-size: 14px;
        color: #747474;
      }
    }
    .mento_card_line{
      width:100%;
      border-bottom: 1px solid #D8D8D8;
      margin: 17px 0px;
    }
    .mento_card_body{
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #747474;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; 
      margin-bottom: 30px;
    }
  
    .mento_card_footer{
      display: flex;
      align-items: center;
      margin-top: 15px;
      .mento_card_profile_image{
        width:30px;
        height:30px;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.5);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        margin-right: 7px;
      }
      .mento_v_line{
          border-left : 1px solid #D8D8D8;
          height : 20px;
          margin: 0px 8px;
      }
      .mento_card_nickname{
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #4F4F4F;
      }
      .mento_card_time{
        font-weight: 350;
        font-size: 14px;
        line-height: 20px;
        color: #747474;
      }
    }
  }