.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:-1000;
  opacity: 0;
  .content{
    width: fit-content;
    height: fit-content;
    padding: 60px;
    background-color: #fff;
    transform: translateY(20%);
    opacity: 0;
  }
  
  &.open{
    display: flex;
    z-index: 1000;
    opacity: 1;

    .content{
      transform: translateY(0);
      opacity: 1;
      transition: all 0.3s;
    }
  }
}