
.postListContainer{
    width: 100%;
    padding-bottom: 100px;
}
.postListContainerHeader{
    width:100%;
    margin-top: 33px;
    margin-bottom: 66px;
    color: #797979;
    font-size: 24px;
    text-align: right;
    span{
        &:hover{
            cursor: pointer;
        }
        font-size: 22px;
    }

    .filterList{
        display: flex;
        margin-top: 50px;
        column-gap: 20px;
        li{
            display: flex;
            align-items: center;
            width:135px;
            height: 38px;
            border-radius: 100px;
            border-radius: 100px;
            background: #C0C0C0;
            .tag_wrapper{
                display: flex;
                align-items: center;
                margin: 0 auto;
                column-gap: 4px;
            }
            .outer_circle{
                width: 18px;
                height: 18px;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid #222222;
                display: flex;
                align-items: center;
                justify-content: center;
                .inner_circle{
                    width:10px;
                    height:10px;
                    border-radius: 100%;
                    background-color: #fff;
                }
            }
            span{
                font-weight: 500;
                font-size: 18px;
                line-height: 15px;
                color: #222222;
            }

            &.selected{
                background: #FFD02C;           
                .inner_circle{
                    background-color: #FFD02C;
                } 
            } 
        }
    }
}
.postWrapper{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    row-gap: 60px;
    position: relative !important;
    .upIconWrapper{
        position: sticky;
        width: fit-content;
        height: fit-content;
        left:0;
        bottom:0;
    }
    .upIcon{
        width: 95px;
        height: 95px;
        background: rgb(255, 255, 255, 0.5);
        border-radius: 100%;
        position: absolute;
        right:0;
        bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #568A35;
    }
}