.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.detailedMemberModal {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 40%;
  height: 85%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-align: center;
  background-color: white;
  z-index: 1001;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.12);
  padding: 26px 20px;

  .closeButton {
    position: absolute;
    top: -15px;
    right: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #667080;
  }

  .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #568A35;
  }

  .subTitle {
    font-size: 20px;
    line-height: 24px;
    color: #888888;
    margin-top: 13px;
  }

  .profileImg {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    margin-top: 32px;
  }

  .nickname {
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;
    color: #484848;
    margin-top: 14px;
  }

  .email {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 20px;
    color: #767676;
  }

  .message {
    background: #F4F4F4;
    border-radius: 12px;
    width: 90%;
    margin: 21px auto;
    padding: 30px 20px;
    word-wrap: break-word;
    height: 150px;
    overflow: auto;
  }

  .resignateButton {
    background-color: #568A35;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    width: 40%;
    height: 50px;
  }

  .applicantConfirmationButton {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    .acceptButton {
      background-color: #568A35;
      border-radius: 10px;
      color: #FFFFFF;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      width: 35%;
      height: 50px;
    }
  
    .rejectButton {
      background: #FFFFFF;
      border-radius: 10px; 
      color: #898989; 
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      width: 35%;
      height: 50px;
      border: 1.5px solid #898989;
    }
  }
}
